.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 40px;
    background-color: #FA8072;
}

.playground {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 710px;
    padding: 10px;
    border: 1px solid black;
    background-color: bisque;
    position: relative;
}

#box {
    height: 100px;
    position: relative;
    left: 850px;
    top: 310px;
}

#cat {
    height: 80px;
    position: relative;
    left: 935px;
    top: 270px;
}

#cat:hover {
    height: 80px;
    position: relative;
    left: 935px;
    top: 250px;
    cursor: pointer;
}

#span {
    color: #800000;
    letter-spacing: 2px;
    font-family: "Anime Ace v3";
}

#span1 {
    display: none;
    color: #800000;
    letter-spacing: 2px;
    font-family: "Anime Ace v3";
}

#logo {
    height: 200px;

}

#logo1 {
    display: none;
    height: 150px;
}

@font-face {
    font-family: "Anime Ace v3";
    src: url("../fonts/Anime Ace v3.ttf") format("truetype");
    font-style: normal;
    font-weight: normal;
}

